* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #000000, #191919, #191818, #000000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.borda {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eeeeee;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    align-content: center;
    width: 342px;
    height: 342px;
    position: relative;
   
}

.borda::before {
    animation: spin 1s linear infinite;
    position: absolute;
    content: "";
    border: 6px solid #FF6500;
    border-top: 5px solid #cf5402;
    height: 342px;
    width: 342px;
    border-radius: 190px;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




button {
    margin-left: 15px;
    border: none;
    border-radius: 40px;
    height: 58px;
    width: 58px;
    color: #0B192C;
    background-color: #ff6500;
    font-weight: 600;
    box-shadow: 0px 6px 15px #050505;
}

button:hover {
    background-color: #ff7e29;
    box-shadow: 0px 6px 15px #050505;
    cursor: pointer;
}

button:active {
    background-color: #cf5402;
    box-shadow: 0px 6px 15px #050505;
    cursor: pointer;
}

#iniciar {
    margin: 0;
}


@media screen and (max-width: 600px) {
    .borda {
        font-size: 2rem;
    }

    .borda::before {
        height: 15rem;
        width: 15rem;
    }
    
}